<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Users', users_path %></li>
  <% if current_user.has_role?(:user) %>
    <li>Test</li>
  <% end %>
  <% if current_user.has_role?(:admin) %>
    <li><%= link_to 'Manage Job Categories', job_categories_path %></li>
    <li><%= link_to 'Manage Job Types', job_types_path %></li>
    <li><%= link_to 'Manage Contract Types', contract_types_path %></li>
  <% end %>
  <% if current_user.has_role?(:client) %>
    <li>Test</li>
  <% end %>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
